* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    
}

.btn {
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid grey;
    text-transform: uppercase;
    cursor: pointer;
}

.albumCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    flex-basis: calc(100% / 3);
}

.albumCard img {
    max-width: 300px;
    max-height: 300px;
}