<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-DISCHI</title>

    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="main_container">
        <button @click="getMusicAlbums()" v-if="!musicAlbums">scarica lista</button>


        <div class="albumCard" v-for="album in musicAlbums">
            <img :src="album.poster" alt="album cover image">
            <h3 class="albumTitle">{{ album.title }}</h3>
            <h4 class="albumAuthor">{{ album.author }}</h4>
            <p class="albumYear">{{ album.year }}</p>
        </div>


    </div>

    <script src="script/app.js"></script>
</body>
</html>